# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env
.env.local
.env.production

# Database
*.sqlite3

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Media uploads
backend/media/

# Node
node_modules/
dist/

# Credentials
gh_action_key.json
